<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>Alfred Escher-Briefedition</description>
    <author/>
    <status>beta</status>
    <license>GNU-LGPL</license>
    <copyright>true</copyright>
    <type>application</type>
    <prepare>pre-install.xql</prepare>
    <finish>post-install.xql</finish>
    <target>escher</target>
    <permissions xmlns:repo="http://exist-db.org/xquery/repo" password="escher" user="escher" group="tei" mode="rw-r--r--"/>
</meta>