<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title>Alfred Escher Briefedition</title>
        <meta name="description" content="Escher commentary"/>
        <meta name="pb-template" content="commentary.html"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>

        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/escher-theme.css"/>

        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script src="resources/scripts/app/escher.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" subscribe="transcription">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"></app-toolbar>              
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <header class="breadcrumbs" data-path="/kontexte/uberblickskommentare/" data-template="pages:parse-params" data-target="toolbar-start">
                                <a href="${app}/">Home</a> &gt; <a href="${app}/kontexte/">Kontexte</a> &gt; <a href="${app}/kontexte/uberblickskommentare/">Überblickskommentare</a> &gt; <span id="letterId"></span>
                            </header>
                        </app-toolbar>
                    </app-header>
                    <main class="content-body">
                        <section class="transcript noscroll">
                            <pb-view id="heading" src="document1" xpath="//teiHeader" view="single" emit="transcription">
                                <pb-param name="header" value="commentary"/>
                            </pb-view>
                            <pb-view id="subsections" src="document1" xpath="//text" view="single" emit="transcription">
                                <pb-param name="header" value="subsections"/>
                            </pb-view>
                            
                            <pb-view id="transcription" src="document1" xpath="//text" column-separator=".tei-cb" append-footnotes="append-footnotes" subscribe="transcription" emit="transcription">
                                <pb-param name="header" value="commentary"/>
                                <pb-param name="url" value="commentary"/>
                            </pb-view> 
                        </section>
                        <pb-view id="register" src="document1" subscribe="transcription" emit="register" view="single">
                            <pb-param name="header" value="context"/>
                            <pb-param name="url" value="commentary"/>
                        </pb-view>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>
