<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title>Alfred Escher Briefedition</title>
        <meta name="description" content="Escher letter"/>
        <meta name="pb-template" content="escher.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&amp;display=swap"/>

        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/escher-theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script src="resources/scripts/app/escher.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" subscribe="transcription">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html">
                            <!--paper-menu-button data-target="custom">
                                <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.download.title" title="i18n(download)">
                                    <pb-i18n key="menu.download.title">Download</pb-i18n>
                                </a>
                                <paper-listbox slot="dropdown-content">
                                    <paper-item>
                                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)">
                                            <pb-i18n key="menu.download.pdf-latex">Download</pb-i18n>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="tex" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-latex" title="i18n(pdf-latex)" source="source">
                                            <pb-i18n key="menu.download.latex-source"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.pdf-fo" title="i18n(pdf-fo)">
                                            <pb-i18n key="menu.download.pdf-fo"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="pdf" src="document1" dialog="downloadDialog" data-i18n="[title]menu.download.fo-source" title="pdf-fo" source="source">
                                            <pb-i18n key="menu.download.fo-source"/>
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-download type="epub" src="document1" dialog="downloadDialog">
                                            ePUB
                                        </pb-download>
                                    </paper-item>
                                    <paper-item>
                                        <pb-edit-xml src="document1" data-i18n="[title]menu.download.view-tei" title="view-tei">
                                            XML
                                        </pb-edit-xml>
                                    </paper-item>
                                </paper-listbox>
                            </paper-menu-button-->
                        </app-toolbar>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <header class="breadcrumbs" data-path="/briefe/" data-template="pages:parse-params" data-target="toolbar-start">
                                <a href="${app}/">Home</a> &gt; <a href="${app}/briefe/">Briefe</a> &gt; <span id="letterId"></span>
                            </header>
                            <pb-select-feature id="select-view1" name="view1" label="Ansicht" items='[
                            {"name": "Edierter Text", "selectors": [{"selector": ".popover,.annotation,.para", "state": false}, {"selector": "br,.underline,.hyphen,.metamark,.signature,.closer", "state": true}, {"selector": "pb-popover", "command": "disable", "state": false}, {"selector": ".letter", "state": true}, {"selector": ".addition,.deletion", "state": false}]},
                            {"name": "Diplomatischer Text", "selectors": [{"selector": ".popover,.annotation,.para", "state": true}, {"selector": "br,.underline,.hyphen,.metamark,.signature,.closer", "state": false}, {"selector": "pb-popover", "command": "disable", "state": true}, {"selector": ".letter", "state": false}, {"selector": ".addition,.deletion", "state": true}]}
                            ]' emit="transcription" subscribe="transcription" data-target="toolbar-end"></pb-select-feature>
                        </app-toolbar>
                    </app-header>
                    <main class="letter">
                        <header class="edition-nav">
                            <pb-link id="prev-in-edition" emit="transcription"><iron-icon icon="icons:chevron-left"></iron-icon> Vorheriger Brief in Edition</pb-link>
                            <pb-link id="next-in-edition" emit="transcription">Nächster Brief in Edition <iron-icon icon="icons:chevron-right"></iron-icon></pb-link>
                        </header>
                        <header class="corresp-nav">
                            <pb-link id="prev" emit="transcription"><iron-icon icon="icons:chevron-left"></iron-icon> Vorheriger Brief</pb-link>
                            <div>Korrespondenz: <span id="correspondence"></span></div>
                            <pb-link id="next" emit="transcription">Nächster Brief <iron-icon icon="icons:chevron-right"></iron-icon></pb-link>
                        </header>
                        <div class="transcript noscroll">
                            <pb-view id="reference-view1" src="document1" xpath="//teiHeader" view="single" subscribe="transcription" emit="transcription">
                                <pb-param name="display" value="letter-header"/>
                            </pb-view>
                            <pb-view id="view1" src="document1" column-separator=".tei-cb" append-footnotes="append-footnotes" 
                                before-update-event="pb-before-update" subscribe="transcription" emit="transcription"/>
                        </div>
                        <pb-view id="register" src="document1" subscribe="transcription" emit="register" view="single">
                            <pb-param name="header" value="context"/>
                        </pb-view>
                        <pb-facsimile base-uri="https://apps.existsolutions.com/cantaloupe/iiif/2/" default-zoom-level="0"
                            show-navigator="show-navigator" show-navigation-control="show-navigation-control"
                            subscribe="transcription">
                        </pb-facsimile>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>
