<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title data-template="pages:parse-params">${label}</title>
        <meta name="description" content="Metadaten zum Ort"/>
        <meta name="pb-template" content="place.html"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/escher-theme.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
        <style>
            div {
                margin: 0 16px;
            }

            section {
                max-width: 1014px;
            }

            main {
                position: relative;
                display: grid;
                height: var(--pb-view-height);
            }

            #map {
                width:50vw;
                height:25vh;
            }
        </style>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json">
            
            <app-drawer-layout force-narrow="force-narrow" data-template="app:load-place">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html">
                            <header class="breadcrumbs" data-template="pages:parse-params" data-path="/kontexte/personen/" data-target="toolbar-start">
                                <a href="${app}/">Home</a> &gt; <a href="${app}/kontexte/">Kontexte</a> &gt; 
                                <a href="${app}/kontexte/orte/">Orte</a> &gt; 
                                ${title}                                
                            </header>
                        </app-toolbar>
                    </app-header>
                    <main class="content-body single-col">
                        <section class="transcript noscroll place">
                            <h2 id="locations">
                                <pb-geolocation latitude="${latitude}" longitude="${longitude}" label="${title}" auto="" data-template="pages:parse-params">${title}</pb-geolocation>
                            </h2>                            
                            <pb-leaflet-map id="map" zoom="13">
		                        <pb-map-layer show="" 
                                    base="" 
                                    label="HikeBike Map" 
                                    url="https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token={accessToken}" 
                                    max-zoom="19" 
                                    access-token="pk.eyJ1Ijoid29sZmdhbmdtbSIsImEiOiJjam1kMjVpMnUwNm9wM3JwMzdsNGhhcnZ0In0.v65crewF-dkNsPF3o1Q4uw" 
                                    attribution="© Mapbox © OpenStreetMap">
                                </pb-map-layer>
                            </pb-leaflet-map>                            
                        </section>
                    </main>
                    <footer data-template="lib:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
            <script type="text/javascript">
                /**
                 * Manually initialize map markers once components are ready.
                 * Not necessary if the pb-geolocation appear inside a component
                 * which does itself send the `pb-update` event, e.g. `pb-view`.
                 */
                document.addEventListener('WebComponentsReady', () => {
                    document.dispatchEvent(new CustomEvent('pb-update', {
                        detail: {
                            root: document.getElementById('locations')
                        }
                    }));
                });
            </script>        
    </body>
</html>