.content {
    position: relative;
}

.popover {
    text-decoration-line: underline;
    text-decoration-color: #5ec5ed;
    text-underline-offset: 3px;
}

.sup {
    vertical-align: super;
    font-size: 0.8em;
}

.underline {
    text-decoration: underline;
}

.annotation {
    font-style: italic;
}

br {
    display: block;
}

br.toggle {
    display: none;
}

.toggle {
    font-style: unset;
    text-decoration: none;
}

.hyphen.toggle {
    display: none;
}

.subheading {
    font-size: 0.8em;
}

.highlight-line {
    background-color: #F4CDAC;
}

.highlight {
    background-color: cadetblue;
}

.context a {
    text-decoration: none;
    font-weight: 600;
    color: var(--pb-link-color);
}

.subsection {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.subsection a {
    text-decoration: none;
    color: #2474C2;
}

.number {
    color: gray;
    position: absolute;
    display: block;
    margin-left: -35px;
    text-align: left;
}

.paragraph {
    text-align: justify;
    padding-left: 30px;
    margin-block-end: 1em;
}

.note-link {
    text-decoration: none;
    color: #2474C2;
}

.note-link h2 {
    text-decoration: none;
    display: inline;
    font-size: inherit;
    font-style: inherit;
}

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    height: 40px;
}

nav a:link, nav a:visited {
    display: block;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--pb-link-color);
}

nav .next {
    grid-column: 2;
    text-align: right;
}

.context h1 {
    font-size: 1.2em;
}

.context h3 {
    font-size: 1em;
}

.term:link, .term:visited {
    text-decoration: none;
    color: var(--pb-link-color);
}

.term ~ .term::before {
    content: ", ";
}

/* Additions are shown in diplomatic view only */

.addition {
    display: none;
}

.addition.toggle {
    display: inline;
}

.addition.toggle::after {
    content: '⌝';
}

.addition.toggle::before {
    content: '⌜';
}

.unclear-addition::after {
    content: '?]';
}

.unclear-addition::before {
    content: '[';
}

.metamark {
    vertical-align: super;
    font-size: var(--pb-font-size-small);
}
.metamark.toggle {
    display: none;
}

.deletion {
    display: none;
}

.deletion.toggle {
    display: inline;
    text-decoration: line-through;
}

.pb {
    display: inline;
    color: var(--pb-color-focus);
}

.p-right { text-align: right;  text-indent: -1.6em;}
.p-right.toggle { text-indent: unset;}
.p-left { text-align: left; }
.p-left.toggle { text-indent: 1.6em; }
.p-indent.toggle { text-indent: 1.6em; }
.p-default.center { text-align: center; }
.p-default.left { text-align: left; }

.highlight-line,
.highlight-line:hover,
.tp-linebreak {
    cursor: pointer;
}

p:not(.toggle) span.line {
    display: block;
}

p.toggle .line.toggle {
    display: inline;
}

.p-indent span.line:first-child {
    text-indent: 1.6em;
}

br {
    display: none;
}

.underline:not(.toggle) {
    text-decoration: underline;
}

.toggle {
    font-style: unset;
    text-decoration: none;
}

.toggle.tp-italic {
    font-style: italic;
}

table {
    width: 100%;
}