.popover {
    text-decoration-line: underline;
    text-decoration-color: #5ec5ed;
    text-underline-offset: 3px;
}

.sup {
    vertical-align: super;
    font-size: 0.8em;
}

.annotation {
    font-style: italic;
}