.content {
    position: relative;
}

.popover {
    text-decoration-line: underline;
    text-decoration-color: #5ec5ed;
    text-underline-offset: 3px;
}

h1 {
    font-size: var(--pb-heading-h1-font-size);
}
h2 {
    font-size: var(--pb-heading-h2-font-size);
}
h3 {
    font-size: var(--pb-heading-h3-font-size);
}
h4 {
    font-size: var(--pb-heading-h4-font-size);
}

.sup {
    vertical-align: super;
    font-size: 0.8em;
}

.underline {
    text-decoration: underline;
}

.annotation {
    font-style: italic;
}

br {
    display: block;
}

br.toggle {
    display: none;
}

.toggle {
    font-style: unset;
    text-decoration: none;
}

.hyphen.toggle {
    display: none;
}

.subheading, .keywords {
    font-size: var(--pb-font-size-small);
    font-family: var(--pb-base-font-family);
}

.highlight-line {
    background-color: #F4CDAC;
}

.highlight {
    background-color: cadetblue;
}

.context a {
    text-decoration: none;
    font-weight: 600;
    color: var(--pb-link-color);
}

.letter-title {
    margin: 0;
}

.subsection {
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.subsection a {
    text-decoration: none;
    color: #2474C2;
}

.number {
    color: gray;
    position: absolute;
    display: block;
    margin-left: -35px;
    text-align: left;
}

.paragraph {
    text-align: justify;
    padding-left: 30px;
    margin-block-end: 1em;
}

.note-link {
    text-decoration: none;
    color: #2474C2;
}

.note-link h2 {
    text-decoration: none;
    display: inline;
    font-size: inherit;
    font-style: inherit;
}

.context h1 {
    font-size: var(--pb-heading-h3-font-size);
}

.context h3 {
    font-size: var(--pb-heading-h4-font-size);
}

.term:link, .term:visited {
    text-decoration: none;
    color: var(--pb-link-color);
}

.term ~ .term::before {
    content: ", ";
}

/* Additions are shown in diplomatic view only */

.addition {
    display: none;
}

.addition.toggle {
    display: inline;
}

.addition.toggle::after {
    content: '⌝';
}

.addition.toggle::before {
    content: '⌜';
}

.unclear-addition::after {
    content: '?]';
}

.unclear-addition::before {
    content: '[';
}

.metamark {
    vertical-align: super;
    font-size: var(--pb-font-size-small);
}
.metamark.toggle {
    display: none;
}

.deletion {
    display: none;
}

.deletion.toggle {
    display: inline;
    text-decoration: line-through;
}

.closer.toggle {
    text-align: center;
}
.signature.toggle {
    text-align: right;
}

.pb {
    display: inline;
    color: var(--pb-color-focus);
}

.para.center.toggle {
    text-align: center;
}
.para.right.toggle {
    text-align: right;
}

.para.toggle br {
    display: none;
}

.para.toggle .line {
    display: block;
}

.para:not(.toggle) .line {
    display: inline;
    text-indent: unset;
}

.para.toggle.indent span.line:first-child {
    text-indent: 1.6em;
}

/* .p-right { text-align: right;  text-indent: -1.6em;}
.p-right.toggle { text-indent: unset; text-align: left; }
.p-indent { text-indent: 1.6em; }
.p-indent.toggle { text-indent: unset; }
.p-default.center { text-align: center; }
.p-default.left { text-align: left; } */

.highlight-line,
.highlight-line:hover,
.tp-linebreak {
    cursor: pointer;
}

p {
    margin-block: 0.3em;
}

.underline:not(.toggle) {
    text-decoration: underline;
}

/* .toggle {
    font-style: unset;
    text-decoration: none;
}

.toggle.tp-italic {
    font-style: italic;
} */

table {
    width: 100%;
}

.keywords {
    margin-bottom: 4em;
}