/* Due to a safari issue, relative paths to background images won't work as variables, so we list them here */

.logo {
    background-image: url("../images/escher_logo.png");
}

.splash {
    background-image: url("../images/tei-publisher-logo-color.svg");
}

.menubar {
    background-image: none;
}

.toolbar {
    background-image: none;
}

app-header {
    background-image: none;
}

body {
    --pb-logo-image-width: 544px;
    --pb-logo-image-height: 109px;
    --pb-menubar-background-color: #f7f8f8;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-toolbar-background-color: #f0f0f0;
    --pb-toolbar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);
    --pb-base-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-base-font-size: 16px;
    --pb-base-font-weight: 400;
    --pb-base-line-height: 1.8;
    --pb-heading-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-content-font-family: var(--pb-base-font-family);
    --pb-content-font-size: 16px;
    --pb-view-height: auto;
}

.menubar {
    height: 109px;
}

.menubar .logo {
    margin: 0 16px 0 0;
}

@media (min-width: 769px) {
    .toolbar pb-navigation {
        display: none;
    }
}

.content-body {
    position: relative;
    display: grid;
    height: var(--pb-view-height);
    grid-template-columns: 1fr minmax(360px, 45vw);
}

.content-body.toggle {
    grid-template-columns: 1fr auto;
}

.transcript {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.content-body pb-navigation {
    position: fixed;
    bottom: 45%;
    --paper-fab-background: #35424b;
    color: white;
}

.content-body pb-navigation[direction=backward] {
    left: 20px;
}

.content-body pb-navigation[direction=forward] {
    right: 20px;
}

@media (max-width: 769px) {
    .content-body pb-navigation {
        display: none;
    }
}

pb-facsimile {
    --pb-facsimile-height: var(--pb-view-height);
}

.content-body.toggle pb-facsimile {
    display: none;
}

.content-body aside {
    display: none;
}

.content-body.toggle aside {
    display: block;
}

@media (max-width: 1023px) {
    pb-facsimile, .content-body aside, .content-body.toggle aside {
        display: none;
    }
    .content-body, .content-body.toggle {
        grid-template-columns: 1fr;
    }
}

.emph {
    font-style: italic;
    font-weight: 600;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--pb-toolbar-background-color);
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: var(--pb-color-primary);
}