/* Due to a safari issue, relative paths to background images won't work as variables, so we list them here */

.logo {
    background-image: url("../images/escher_logo.png");
}

.splash {
    background-image: url("../images/tei-publisher-logo-color.svg");
}

.menubar {
    background-image: none;
}

.toolbar {
    background-image: none;
}

app-header {
    background-image: none;
}

body {
    --pb-logo-image-width: 544px;
    --pb-logo-image-height: 109px;
    --pb-menubar-background-color: #f7f8f8;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-toolbar-background-color: #f0f0f0;
    --pb-toolbar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);
    --pb-base-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-base-font-size: 16px;
    --pb-base-font-weight: 400;
    --pb-base-line-height: 1.8;
    --pb-heading-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-content-font-family: var(--pb-base-font-family);
    --pb-content-font-size: 16px;
    --pb-view-height: auto;
    --pb-link-color: #2474C2;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--pb-link-color);
}

.menubar {
    height: 109px;
}

.menubar .logo {
    margin: 0 16px 0 0;
}

@media (min-width: 769px) {
    .toolbar pb-navigation {
        display: none;
    }
}

.letter {
    --pb-view-max-width: 41.24rem;
    position: relative;
    margin: 0 20px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr minmax(360px, 45vw);
    height: calc(100vh - 233px);
}

.letter.toggle {
    height: auto;
    margin: auto;
    grid-template-columns: 1fr minmax(auto, 320px);
    grid-template-rows: auto 1fr;
    max-width: calc(var(--pb-view-max-width) + 360px);
}

.letter #reference-view1 {
    grid-row: 1;
    grid-column: 1 / 2;
    max-width: inherit;
    margin: 0;
}

.letter.toggle #reference-view1 {
    grid-row: 1;
    grid-column: 1 / 3;
}

.letter #view1 {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    overflow: auto;
}

.letter #register {
    width: 100%;
}

.letter pb-facsimile {
    grid-column: 2 / 3;
    grid-row: 1 / 3
}

.letter.toggle pb-facsimile {
    display: none;
}

.letter #register {
    display: none;
}

.letter.toggle #register {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2;
}

.content-body {
    position: relative;
    display: grid;
    height: calc(100vh - 233px);
    grid-template-columns: 1fr minmax(360px, 45vw);
}

.content-body.toggle {
    grid-template-columns: 1fr auto;
    height: auto;
}

.transcript {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.content-body pb-navigation {
    position: fixed;
    bottom: 45%;
    --paper-fab-background: #35424b;
    color: white;
}

.content-body pb-navigation[direction=backward] {
    left: 20px;
}

.content-body pb-navigation[direction=forward] {
    right: 20px;
}

@media (max-width: 769px) {
    .content-body pb-navigation {
        display: none;
    }
}

pb-facsimile {
    --pb-facsimile-height: var(--pb-view-height);
}

.content-body.toggle pb-facsimile {
    display: none;
}

.content-body aside {
    display: none;
}

.content-body.toggle aside {
    display: block;
}

@media (max-width: 1023px) {
    pb-facsimile, .letter aside, .letter.toggle aside {
        display: none;
    }
    .letter, .letter.toggle {
        grid-template-columns: 1fr;
    }
}

.emph {
    font-style: italic;
    font-weight: 600;
}

.initial {
    display: inline-block;
    padding-right: 5px;
}

/* Browsing letters (index.html) */

.document-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.document-info .subheading {
    font-size: 0.8em;
}

.document-info .term ~ .term::before {
    content: ", ";
}