/* Due to a safari issue, relative paths to background images won't work as variables, so we list them here */

.logo {
    background-image: url("../images/escher_logo.png");
}

.splash {
    background-image: url("../images/tei-publisher-logo-color.svg");
}

.menubar {
    background-image: none;
}

.toolbar {
    background-image: none;
}

app-header {
    background-image: none;
}

body {
    --pb-logo-image-width: 544px;
    --pb-logo-image-height: 109px;
    --pb-menubar-background-color: #f7f8f8;
    --pb-menubar-color: var(--pb-color-primary);
    --pb-toolbar-background-color: #f0f0f0;
    --pb-toolbar-color: var(--pb-color-primary);
    --pb-lang-input-color: var(--pb-color-primary);
    --pb-lang-label-color: var(--pb-color-primary);
    --pb-base-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-base-font-size: 16px;
    --pb-base-font-weight: 400;
    --pb-base-line-height: 1.75;
    --pb-heading-font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    --pb-heading-line-height: 1.75;
    --pb-content-font-family: var(--pb-base-font-family);
    --pb-content-font-size: 18px;
    --pb-letter-font-family: "Libre Baskerville";
    --pb-letter-font-size: var(--pb-base-font-size);
    --pb-font-size-small: 0.8rem;
    --pb-view-height: auto;
    --pb-link-color: #2474C2;
    --pb-color-focus: #FFA500;
    --pb-heading-h1-font-size: 2.441rem;
    --pb-heading-h2-font-size: 1.953rem;
    --pb-heading-h3-font-size: 1.563rem;
    --pb-heading-h4-font-size: 1.25rem;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--pb-link-color);
}

.menubar {
    height: 109px;
}

.menubar .logo {
    margin: 0 16px 0 0;
}

.toolbar {
    justify-content: space-between;
}

.toolbar pb-select-feature {
    /* margin-right: 60px; */
}

@media (min-width: 769px) {
    .toolbar pb-navigation {
        display: none;
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px 12px;
    color: #424242;
    background-color: #f1f1f1;
}

footer p {
    margin: 0;
    font-size: var(--pb-font-size-small);
}

.breadcrumbs {
    margin: 0;
    /* grid-column: 1; */
}

.letter {
    position: relative;
    margin: 0 20px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr minmax(360px, 45vw);
}

.letter.toggle {
    height: auto;
    margin: auto;
    grid-template-columns: 1fr minmax(auto, 320px) auto 1fr;
    grid-template-rows: auto auto 1fr;
    /* max-width: calc(var(--pb-view-max-width) + 360px); */
}

.letter .edition-nav {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: var(--pb-font-size-small);
}

.letter.toggle .edition-nav {
    grid-column: 2 / 4;
}

.letter .corresp-nav {
    grid-column: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: var(--pb-font-size-small);
}

.letter.toggle .corresp-nav {
    grid-column: 2 / 4;
}

.letter .corresp-nav #next {
    grid-column: 3;
    text-align: right;
}

.letter .corresp-nav div {
    grid-column: 2;
    text-align: center;
}

.letter #reference-view1 {
    margin: 0;
}

.transcript {
    --pb-view-max-width: 41.24rem;
    overflow: auto;
    justify-self: center;
    height: calc(100vh - 320px);
    padding-bottom: 60px;
}

.letter .transcript {
    grid-column: 1;
    --pb-content-font-family: var(--pb-letter-font-family);
    --pb-content-font-size: var(--pb-letter-font-size);
}

.letter.toggle .transcript {
    grid-column: 3;
    margin: 0;
}

.letter #register {
    grid-column: 2;
    grid-row: 3;
    width: 100%;
    height: calc(100vh - 320px);
    overflow: auto;
    padding-bottom: 60px;
}

.letter pb-facsimile {
    grid-column: 2;
    grid-row: 1 / 4;
}

.letter.toggle pb-facsimile {
    display: none;
}

.letter #register {
    display: none;
}

.letter.toggle #register {
    display: block;
}

.article {
    --pb-view-max-width: 41.24rem;
    position: relative;
    margin: 0 20px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 41.24rem 1fr;
    height: calc(100vh - 233px);
}

.article pb-view {
    grid-column: 2;
}

.content-body {
    --pb-view-max-width: 41.24rem;
    --pb-view-height: 100%;
    position: relative;
    margin: 0 20px;
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr minmax(360px, 33vw);
    height: calc(100vh - 280px);
}

.content-body #register {
    overflow: auto;
    height: calc(100vh - 270px);
    overflow: auto;
    padding-bottom: 60px;
}

.content-body #subsections {
    margin-top: 1em;
    margin-bottom: 2em;
}

.content-body #transcription {
    overflow: none;
}

.content-body pb-navigation {
    position: fixed;
    bottom: 45%;
    --paper-fab-background: #35424b;
    color: white;
}

.content-body pb-navigation[direction=backward] {
    left: 20px;
}

.content-body pb-navigation[direction=forward] {
    right: 20px;
}

@media (max-width: 769px) {
    .content-body pb-navigation {
        display: none;
    }
}

pb-facsimile {
    --pb-facsimile-height: var(--pb-view-height);
}

@media (max-width: 1023px) {
    pb-facsimile, .letter aside, .letter.toggle aside {
        display: none;
    }
    .letter, .letter.toggle {
        grid-template-columns: 1fr;
    }
}

.emph {
    font-style: italic;
    font-weight: 600;
}

.initial {
    display: inline-block;
    padding-right: 5px;
}

/* Browsing letters (index.html) */

.document-info h2 {
    margin-top: 0;
    margin-bottom: 8px;
}

.document-info .subheading {
    font-size: var(--pb-font-size-small);
}

.document-info .term ~ .term::before {
    content: ", ";
}

.bibentry {
    display: grid;
    grid-template-columns: 3em 1fr;
}

.active {
    color: #E36F1E !important;
}