<?xml version="1.0" encoding="UTF-8"?>
<div>
    <div data-template="browse:dispatch-action"/>
    <div data-template="app:list-works">
        <paper-button class="parent-link" data-template="browse:parent-collection">
            <iron-icon icon="icons:folder"/>
            <pb-i18n key="browse.up">Up</pb-i18n>
        </paper-button>
        <ul class="documents" data-template="browse:browse" data-template-per-page="10">
            <li class="document">
                <pb-restricted login="login" group="tei">
                    <div class="document-select">
                        <paper-checkbox data-template="pages:parse-params" name="documentCheckbox" value="${ident}"/>
                    </div>
                </pb-restricted>
                <div class="document-info">
                    <header data-template="browse:short-header"/>
                </div>
            </li>
        </ul>
    </div>
</div>