<?xml version="1.0" encoding="UTF-8"?>
<app-drawer slot="drawer" align="right">
    <div class="drawer-content">
        <pb-media-query query="max-width: 1023px">
            <h3>
                <a href="${app}/briefe/" data-template="pages:parse-params">Briefe</a>
            </h3>
            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <a href="#" data-i18n="[title]menu.contexts" title="foo">
                        <pb-i18n key="menu.contexts">Kontexte</pb-i18n>
                    </a>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="${app}/kontexte/alfred-escher" data-template="pages:parse-params"><pb-i18n key="menu.escher">Alfred Escher</pb-i18n></a>
                    </paper-item>
                    <paper-item disabled="disabled">
                        <pb-i18n key="menu.chronologie">Chronologie</pb-i18n>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/kontexte/personen/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Personen</pb-i18n></a>
                    </paper-item>
                    <paper-item disabled="disabled">
                        <pb-i18n key="menu.escher">Orte</pb-i18n>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/kontexte/uberblickskommentare/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Überblickskommentare</pb-i18n></a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/kontexte/abkurzungen/Quellen/A" data-template="pages:parse-params"><pb-i18n key="menu.escher">Abkürzungen</pb-i18n></a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/kontexte/bibliographie/Escheriana/Alle" data-template="pages:parse-params"><pb-i18n key="menu.escher">Bibliographie</pb-i18n></a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>

            <pb-collapse>
                <h3 slot="collapse-trigger">
                    <a href="#" data-i18n="[title]menu.about" title="i18n(download)">
                        <pb-i18n key="menu.about">Über die Edition</pb-i18n>
                    </a>
                </h3>
                <paper-listbox slot="collapse-content">
                    <paper-item>
                        <a href="${app}/uber-die-edition/projektbeschrieb" data-template="pages:parse-params">Projektbeschrieb</a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/uber-die-edition/editionsprinzipien" data-template="pages:parse-params">Editionsprinzipien</a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/uber-die-edition/impressum" data-template="pages:parse-params">Impressum</a>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/uber-die-edition/disclaimer" data-template="pages:parse-params">Disclaimer</a>
                    </paper-item>
                </paper-listbox>
            </pb-collapse>        
            <div id="custom" style="display: none;"></div>
            <pb-restricted login="login">
                <paper-menu-button>
                    <a href="#" slot="dropdown-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </a>
                    <paper-listbox slot="dropdown-content">
                        <paper-item data-template="pages:edit-odd-list"/>
                        <paper-item>
                            <pb-download url="api/apps/download">
                                <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/api.html" data-template="pages:parse-params" target="_blank">API Documentation</a>
                        </paper-item>
                    </paper-listbox>
                </paper-menu-button>
            </pb-restricted>
            
            <pb-restricted login="login">
                <pb-collapse>
                    <h3 slot="collapse-trigger">
                        <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                    </h3>
                    <paper-listbox slot="collapse-content">
                        <paper-item>
                            <pb-download data-template="pages:edit-odd-link" src="document1">
                                <pb-i18n key="menu.admin.edit-odd">Edit ODD</pb-i18n>
                            </pb-download>
                        </paper-item>
                        <paper-item>
                            <a href="${app}/manage.html" data-template="pages:parse-params">
                                <pb-i18n key="menu.admin.appGenerator"/>
                            </a>
                        </paper-item>
                    </paper-listbox>
                </pb-collapse>
            </pb-restricted>
        </pb-media-query>
    </div>
</app-drawer>