<footer>
    <p class="contact-address"><a href="https://www.alfred-escher.ch/" target="_blank">Alfred Escher-Stiftung</a>, c/o Zentralbibliothek Zürich, Zähringerplatz 6, 8001 Zürich, Schweiz</p>
    <p>Zitiervorschlag: Jung Joseph (Hrsg.), Digitale Briefedition Alfred Escher, Launch Juli 2015 (laufend aktualisiert), Zürich: Alfred Escher-Stiftung.
            <a href="https://briefedition.alfred-escher.ch/" title="Briefedition Alfred Escher">https://briefedition.alfred-escher.ch/</a>
    </p>
</footer>