<footer>
    <p class="contact-address">Kontakt: <a href="https://www.zh.ch/de/direktion-der-justiz-und-des-innern/staatsarchiv.html/" target="_blank">Staatsarchiv Zürich</a></p>
    <p>Zitiervorschlag: Jung Joseph (Hrsg.), Digitale Briefedition Alfred Escher, Re-Launch Juli 2022, Zürich.
    <a class="persistentLink" href="https://escher.sources-online.org/${uri}" title="Briefedition Alfred Escher" data-template="pages:parse-params">https://escher.sources-online.org/${uri}</a>
    </p>
</footer>
