<?xml version="1.0" encoding="UTF-8"?>
<app-toolbar class="menubar">
    <a href="${app}/home.html" class="logo" data-template="pages:parse-params"/>
    <pb-media-query query="min-width: 1024px">
        <a href="${app}/briefe/" data-template="pages:parse-params">Briefe</a>
        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.contexts" title="foo">
                <pb-i18n key="menu.contexts">Kontexte</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <pb-i18n key="menu.escher">Alfred Escher</pb-i18n>
                </paper-item>
                <paper-item>
                    <pb-i18n key="menu.chronologie">Chronologie</pb-i18n>
                </paper-item>
                <paper-item>
                    <a href="${app}/kontexte/personen/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Personen</pb-i18n></a>
                </paper-item>
                <paper-item>
                    <pb-i18n key="menu.escher">Orte</pb-i18n>
                </paper-item>
                <paper-item>
                    <a href="${app}/kontexte/uberblickskommentare/" data-template="pages:parse-params"><pb-i18n key="menu.escher">Überblickskommentare</pb-i18n></a>
                </paper-item>
                <paper-item>
                    <a href="${app}/kontexte/abkurzungen/Quellen/A" data-template="pages:parse-params"><pb-i18n key="menu.escher">Abkürzungen</pb-i18n></a>
                </paper-item>
                <paper-item>
                    <a href="${app}/kontexte/bibliographie/Archivbestande/A" data-template="pages:parse-params"><pb-i18n key="menu.escher">Bibliographie</pb-i18n></a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>

        <paper-menu-button>
            <a href="#" slot="dropdown-trigger" data-i18n="[title]menu.about" title="i18n(download)">
                <pb-i18n key="menu.about">Über die Edition</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/uber-die-edition/credits.xml" data-template="pages:parse-params">Credits</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/uber-die-edition/projektbeschrieb.xml" data-template="pages:parse-params">Projektbeschrieb</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/uber-die-edition/editionsprinzipien.xml" data-template="pages:parse-params">Editionsprinzipien</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/uber-die-edition/technische-grundlagen.xml" data-template="pages:parse-params">Technische Grundlagen</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/impressum.xml" data-template="pages:parse-params">Impressum</a>
                </paper-item>
                <paper-item>
                    <a href="${app}/disclaimer.xml" data-template="pages:parse-params">Disclaimer</a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>        
        <div id="custom" style="display: none;"></div>
        <pb-restricted login="login">
            <paper-menu-button>
                <a href="#" slot="dropdown-trigger">
                    <pb-i18n key="menu.admin.title">Admin</pb-i18n>
                </a>
                <paper-listbox slot="dropdown-content">
                    <paper-item data-template="pages:edit-odd-list"/>
                    <paper-item>
                        <pb-download url="api/apps/download">
                            <pb-i18n key="appgen.xar-download">Download App as .xar</pb-i18n>
                        </pb-download>
                    </paper-item>
                    <paper-item>
                        <a href="${app}/api.html" data-template="pages:parse-params" target="_blank">API Documentation</a>
                    </paper-item>
                </paper-listbox>
            </paper-menu-button>
        </pb-restricted>
    </pb-media-query>

    <!-- Search input -->
    <pb-search action="${app}/search.html" data-template="pages:parse-params" value="${query}" redirect="redirect"/>
    <pb-media-query query="min-width: 1024px">
       <!-- language selector -->
       <pb-lang name="lang" data-template="pages:languages"/>
    </pb-media-query>
    <pb-login id="login" group="tei">
    </pb-login>
    <paper-dialog id="downloadDialog">
        <h2>
            <pb-i18n key="dialogs.generatingFile">Generating file ...</pb-i18n>
        </h2>
        <paper-dialog-scrollable>
            <pb-i18n key="dialogs.downloadMessage"/>
        </paper-dialog-scrollable>
        <div class="buttons">
            <paper-button dialog-confirm="dialog-confirm" autofocus="autofocus">
                <pb-i18n key="dialogs.close">Close</pb-i18n>
            </paper-button>
        </div>
    </paper-dialog>
</app-toolbar>